body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(69, 65, 150) 0%,
    rgba(206, 192, 202, 0.457) 74%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

input:focus {
  outline: none;
}
#text {
  width: 70vw;
  height: 30px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.addbtn {
  height: 2.5em;
  width: 10vw;
  border-radius: 5px;
  border: none;
  background-color: blueviolet;
  color: white;
}
.list {
  float: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
  margin-top: 10px;
  margin-right: 35px;
}
.todoList {
  font-size: 1.5rem;
  margin-bottom: 8px;
  border-bottom: 1px solid olive;
}
.checkBox {
  margin-right: 15px;
  height: 1.5em;
  width: 1.5em;
}
.editButton {
  height: 2em;
  width: 5em;
  border-radius: 5px;
  border: none;
  background-color: green;
  float: right;
  color: white;
}
.deleteButton {
  float: right;
  height: 2em;
  width: 5em;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
}

.editTodo {
  content: '|';
  animation-name: blink;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  border: none;
  background: white;
  color: black;
}
.endtodo {
  background: none;
  color: white;
}
